.items-cont{
  position: relative;
}
.items-list {
  flex: 3;

  display: flex;
  flex-direction : row;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: stretch;
  /*gap: var(--small-size);
  padding-right: var(--med-size); */
}
.left {
  order: 1;
  flex-basis: 50%;
  height: 400px
}

.middle {
  order: 2;
  flex-basis: 50%;
  height: 400px;
}


.items-list > li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 210px 210px;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);*/
 
  /*grid-template-columns:  1 / 3 / 2 / 4;*/
  grid-template-areas:
    /*"image name price "
    "image desc button ";*/

    "image name "
    "image desc"
    ". . "
    "button price ";

    /*"image image ."
    "image image ."
    "desc . ."
    "price button .";*/
    margin: 5px;
  row-gap: var(--small-size);
  column-gap: var(--small-size);
  justify-content: space-between;

  padding: var(--small-size);
  border: 1px solid lightgray;
  border-radius: var(--med-border-radius);

  background-color: var(--light-gray);
}

.items-list > li > img {
  grid-area: image;
  position: relative;
  height: 200px;
  width: 200px;

}

.items-list > li > div {
  grid-area: price;
  justify-self: end;
  align-self: center;

  background-color: #7FB685;
  color: var(--white);

  padding: var(--tiny-size) var(--small-size);
  border-radius: var(--large-border-radius);
}

.items-list > li > button {
  grid-area: button;

  background-color: #426A5A;
  color: var(--white);

  padding: var(--small-size) var(--med-size);
  border-radius: var(--med-border-radius);
}
